br
br
br
footer
    div.logo
        img(src="/IMG/LogoHorizontal.png", alt="fibonacci").imgLogo
    
    div.socialLogo 
        ul.socialMedia
            li.contenidoMedia 
                a(href="#") <img src = "/IMG/sitio/iconos/gmail.png" alt= "fibonacci" width ="42px"> 
            li.contenidoMedia 
                a(href="#") <img src = "/IMG/sitio/iconos/facebook.png" alt= "fibonacci" width ="40px">
            li.contenidoMedia 
                a(href="#") <img src = "/IMG/sitio/iconos/whatssap.png" alt= "fibonacci" width ="40px">
    
    div.textoFooter
        div.direccionFooter
            p 16 de septiembre #55A, Barrio <br> de San Mateo Col.Centro 
        div.numeroFooter
            p +52 7471855890
br