include layout/head.pug
body
    include layout/header.pug
    main#principal
        section.carrusel
            div.contenidoCarrusel
                div#carruselTexto
                    h1 TALLER DE PINTURA DIGITAL
                    p Aprenderas todo lo necesario para volverte un buen diseñador.       
            div.btnSiguiente
                button(type="button")#btnSiguiente.btnControlador
                    img(src="/IMG/sitio/iconos/siguiente.png", alt="fibonacci",).imgControlador
            div.btnAnterior
                button(type="button")#btnAnterior.btnControlador
                    img(src="/IMG/sitio/iconos/anterior.png", alt="fibonacci").imgControlador
        div.eslogan
            p "Fibonacci, la secuencia perfecta para tu progreso académico"
        div.subtituloUno
            div.divisionSubtitulo
                p .
            div.contenidoSubtitulo
                h3.textoSubtitulo DESTACADOS 
        br

        section.productos

            div.items  
                div.itemTitulo
                    p#textoTituloItem NUEVO CURSO 
                div.itemDivision
                    p .
                div
                    img(src="/IMG/sitio/item(1).jpeg", alt="fibonacci").itemImg 
                div.itemContenido 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus dolores fuga corporis iure error eius maxime? Impedit deserunt aspernatur totam repellat delectus quia error, dicta minima nesciunt velit ut?Distinctio, eius nulla. Quaerat repellat ullam ut nesciunt voluptas dicta suscipit voluptatibus temporibus! Iste est eveniet dolorum maiores laudantium quibusdam corrupti tempore aut, rerum mollitia. Vero voluptatibus alias distinctio aperiam.


            div.items  
                div.itemTitulo
                    p#textoTituloItem  OFERTA DE CURSO 
                div.itemDivision
                    p .
                div
                    img(src="/IMG/sitio/item(2).jpg", alt="fibonacci").itemImg 
                div.itemContenido 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus dolores fuga corporis iure error eius maxime? Impedit deserunt aspernatur totam repellat delectus quia error, dicta minima nesciunt velit ut?Distinctio, eius nulla. Quaerat repellat ullam ut nesciunt voluptas dicta suscipit voluptatibus temporibus! Iste est eveniet dolorum maiores laudantium quibusdam corrupti tempore aut, rerum mollitia. Vero voluptatibus alias distinctio aperiam.       
       
            div.items  
                div.itemTitulo
                    p#textoTituloItem  MATEMÁTICAS 
                div.itemDivision
                    p .
                div
                    img(src="/IMG/sitio/item(3).jpg", alt="fibonacci").itemImg 
                div.itemContenido 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus dolores fuga corporis iure error eius maxime? Impedit deserunt aspernatur totam repellat delectus quia error, dicta minima nesciunt velit ut?Distinctio, eius nulla. Quaerat repellat ullam ut nesciunt voluptas dicta suscipit voluptatibus temporibus! Iste est eveniet dolorum maiores laudantium quibusdam corrupti tempore aut, rerum mollitia. Vero voluptatibus alias distinctio aperiam.

                            
            div.items  
                div.itemTitulo
                    p#textoTituloItem  NUEVO CURSO 
                div.itemDivision
                    p .
                div
                    img(src="/IMG/sitio/item(4).png", alt="fibonacci").itemImg 
                div.itemContenido 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus dolores fuga corporis iure error eius maxime? Impedit deserunt aspernatur totam repellat delectus quia error, dicta minima nesciunt velit ut?Distinctio, eius nulla. Quaerat repellat ullam ut nesciunt voluptas dicta suscipit voluptatibus temporibus! Iste est eveniet dolorum maiores laudantium quibusdam corrupti tempore aut, rerum mollitia. Vero voluptatibus alias distinctio aperiam.                                       
                
            div.items  
                div.itemTitulo
                    p#textoTituloItem  OFERTA DE CURSO 
                div.itemDivision
                    p .
                div
                    img(src="/IMG/sitio/item(5).webp", alt="fibonacci").itemImg 
                div.itemContenido 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus dolores fuga corporis iure error eius maxime? Impedit deserunt aspernatur totam repellat delectus quia error, dicta minima nesciunt velit ut?Distinctio, eius nulla. Quaerat repellat ullam ut nesciunt voluptas dicta suscipit voluptatibus temporibus! Iste est eveniet dolorum maiores laudantium quibusdam corrupti tempore aut, rerum mollitia. Vero voluptatibus alias distinctio aperiam. 
                            
            div.items  
                div.itemTitulo
                    p#textoTituloItem  MATEMÁTICAS 
                div.itemDivision
                    p .
                div
                    img(src="/IMG/sitio/item(6).jpeg", alt="fibonacci").itemImg 
                div.itemContenido 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus dolores fuga corporis iure error eius maxime? Impedit deserunt aspernatur totam repellat delectus quia error, dicta minima nesciunt velit ut?Distinctio, eius nulla. Quaerat repellat ullam ut nesciunt voluptas dicta suscipit voluptatibus temporibus! Iste est eveniet dolorum maiores laudantium quibusdam corrupti tempore aut, rerum mollitia. Vero voluptatibus alias distinctio aperiam. 
        
        div.subtituloUno
            div.divisionSubtitulo
                p .
            div.contenidoSubtitulo
                h3.textoSubtitulo CONOCENOS

        section.productos

            div.items  
                div
                    img(src="/IMG/sitio/item(2).jpg", alt="fibonacci").itemImg 
                div.itemTitulo
                    p#textoTituloItem NOSOTROS 
                div.itemDivision#DIV
                    p .
            div.items   
                div
                    img(src="/IMG/sitio/item(2).jpg", alt="fibonacci").itemImg 
                div.itemTitulo
                    p#textoTituloItem MAESTROS 
                div.itemDivision#DIV
                    p .
            div.items  
                div
                    img(src="/IMG/sitio/item(2).jpg", alt="fibonacci").itemImg 
                div.itemTitulo
                    p#textoTituloItem PLANTEL 
                div.itemDivision#DIV
                    p .
            div.items  
                div
                    img(src="/IMG/sitio/item(2).jpg", alt="fibonacci").itemImg 
                div.itemTitulo
                    p#textoTituloItem PLAN DE ESTUDIOS 
                div.itemDivision#DIV
                    p .
    include footer/footerSitio.pug 
    script(src="/JS/carrusel.js") 